In [23]:
import pandas as pd

used the following to unzip 
gzip -d green_tripdata_2019-01.csv.gz

In [24]:
from sqlalchemy import create_engine

In [41]:
df = pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

In [37]:
df.head(n=1)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
600000,2,2019-01-30 15:48:41,2019-01-30 15:57:31,N,1,260,82,1,1.03,7.0,0.0,0.5,0.0,0.0,NaN,0.3,7.8,2,1,0.0

In [26]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
engine.connect()

In [28]:
print(pd.io.sql.get_schema(df, name= 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [29]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [30]:
df = next(df_iter)

In [31]:
len(df)

100000

In [32]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [33]:
%time df.to_sql(name="green_taxi_data", con=engine, if_exists='replace')

CPU times: user 4.86 s, sys: 28.4 ms, total: 4.89 s
Wall time: 8.18 s

1000

In [34]:
from time import time

In [35]:
while True:
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name="green_taxi_data", con=engine, if_exists='append')

    t_end = time()

    print('inserted data chunk...., time taken %.3f seconds'%(t_end-t_start))

inserted data chunk...., time taken 8.550 seconds
inserted data chunk...., time taken 8.288 seconds
inserted data chunk...., time taken 8.313 seconds
inserted data chunk...., time taken 8.488 seconds
inserted data chunk...., time taken 8.335 seconds
inserted data chunk...., time taken 2.669 seconds

StopIteration:

In [42]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [43]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [44]:
len(df_zones)

265

In [45]:
print(pd.io.sql.get_schema(df_zones, name= 'taxi_zones_data', con=engine))

CREATE TABLE taxi_zones_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [46]:
df_zones.to_sql(name='taxi_zones_data', con=engine, if_exists='append')

265